$primary_color: #222222;
$primary_color_hover: #404040;
$primary_color_active: #505050;

$secondary_color: #008000;
$secondary_color_hover: #009900;
$secondary_color_active: #006600;

$neutral_color: #f2f2f2;
$neutral_color_hover: #d9d9d9;
$neutral_color_active: #bfbfbf;

$light_text: white;
$dark_text: #404040;



/* BUTTONS */

.secondaryBtn {
    background-color: $secondary_color;
    color: white;
}

.secondaryBtn:hover {
    background-color: $secondary_color_hover;
    color: white;
}

.secondaryBtn:active {
    background-color: $secondary_color_active;
    color: white;
}

.neutralBtn {
    background-color: $neutral_color;
    color: $dark_text;
}

.neutralBtn:hover {
    background-color: $neutral_color_hover;
    color: $dark_text;
}

.neutralBtn:active {
    background-color: $neutral_color_active;
    color: $dark_text;
}

/* HEADER AND NAV */

.mainHeader {
    height: 4em;
    background-color: $primary_color;
    color: $light_text;
}

// these are modifications to a Bootstrap classes
.nav-link:hover {
    cursor: pointer;
    background-color: $primary_color_hover;
}

.nav-link:active {
    background-color: $primary_color_active;
}

.dropdown-menu {
    background-color: $neutral_color;
}

.dropdown-item {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.dropdown-item:hover {
    background-color: $neutral_color_hover;
}

.dropdown-item:active {
    background-color: $neutral_color_active;
    color: $dark_text;
}
// end Bootstrap modifications

nav {
    background-color: $neutral_color;
}

.collapseToggler {
    padding: 1em;
    
    a {
        display: block;
        color: $dark_text;
    }

    a:hover {
        color: $dark_text;
        text-decoration: none;
    }
}

.sideBar {
    height: calc(100vh - 4em);
    padding-top: 2em;
}

@media (max-width: 768px) {
    .sideBar {
        padding-top: 0;
        height: auto;
    }
}

.sideBarLink {
    display: block;
    padding: 1em;
    color: $dark_text;
    text-decoration: none;
}

.sideBarLink:hover {
    background-color: $neutral_color_hover;
    color: $dark_text;
    text-decoration: none;
}

.sideBarLinkActive {
    background-color: $neutral_color_active;
}


/* CONTENT AREA */

.contentArea {
    height: calc(100vh - 4em);
    overflow-y: scroll;
    padding: 2em;
}

@media (max-width: 768px) {
    .contentArea {
        padding: 1em;
    }
}

.page {

    h1 {
        margin-bottom: 0.5em;
    }

}

.contentSection {
    padding: 1em;
    background-color: $neutral_color;
}


/* PAGE SPECIFIC STYLES */

/* LOGIN */

.publicSumbitPage {
    height: 100vh;
    background-color: $primary_color;
}

.publicSumbitForm {
    padding: 2em 2em 1em 2em;
    border-radius: 0.25em;
    background-color: $neutral_color;
}

.publicSumbitText {
    color: $light_text;

    a {
        color: $light_text;
    }

    a:hover {
        color: $light_text;
    }
}