$primary_color: #222222;

$secondary_color: #008000;
$secondary_color_hover: #009900;
$secondary_color_active: #006600;

$neutral_color: #d9d9d9;
$neutral_color_hover: #c8c8c8;
$neutral_color_active: #b0b0b0;

$neutral_background_color: #f2f2f2;
$neutral_background_color_hover: #bfbfbf;
$neutral_background_color_active: #d9d9d9;

$light_text: white;
$dark_text: #404040;


/* BUTTONS */

.secondaryBtn {
    background-color: $secondary_color;
    color: white;
}

.secondaryBtn:hover {
    background-color: $secondary_color_hover;
    color: white;
}

.secondaryBtn:active {
    background-color: $secondary_color_active;
    color: white;
}

.neutralBtn {
    background-color: $neutral_color;
    color: $dark_text;
}

.neutralBtn:hover {
    background-color: $neutral_color_hover;
    color: $dark_text;
}

.neutralBtn:active {
    background-color: $neutral_color_active;
    color: $dark_text;
}

/* HEADER AND NAV */

.mainHeader {
    height: 4em;
    background-color: $primary_color;
    color: $light_text;
}

nav {
    background-color: $neutral_background_color;
}

.collapseToggler {
    padding: 1em;
    
    a {
        display: block;
        color: $dark_text;
    }

    a:hover {
        color: $dark_text;
        text-decoration: none;
    }
}

.sideBar {
    height: calc(100vh - 4em);
    padding-top: 2em;
}

@media (max-width: 768px) {
    .sideBar {
        padding-top: 0;
        height: auto;
    }
}

.sideBarLink {
    display: block;
    padding: 1em;
    color: $dark_text;
    text-decoration: none;
}

.sideBarLink:hover {
    background-color: $neutral_background_color_hover;
    color: $dark_text;
    text-decoration: none;
}

.sideBarLinkActive {
    background-color: $neutral_background_color_active;
}


/* CONTENT AREA */

.page {

    h1 {
        margin-bottom: 0.5em;
    }

}

.contentArea {
    padding: 2em;
}

@media (max-width: 768px) {
    .contentArea {
        padding: 1em;
    }
}

.contentSection {
    padding: 2em 2em 1em 2em;
    background-color: $neutral_background_color;
}


/* PAGE SPECIFIC STYLES */

/* LOGIN */

.publicSumbitPage {
    height: 100vh;
    background-color: $primary_color;
}

.publicSumbitForm {
    padding: 2em 2em 1em 2em;
    border-radius: 0.25em;
    background-color: $neutral_background_color;
}

.publicSumbitText {
    color: $light_text;

    a {
        color: $light_text;
    }

    a:hover {
        color: $light_text;
    }
}