$primary_color: #222222;

$secondary_color: #008000;
$secondary_color_hover: #009900;
$secondary_color_active: #006600;

$neutral_color: #f2f2f2;
$neutral_color_hover: #bfbfbf;
$neutral_color_active: #d9d9d9;

$light_text: white;
$dark_text: #404040;


/* BUTTONS */

.secondaryBtn {
    background-color: $secondary_color;
    color: white;
}

.secondaryBtn:hover {
    background-color: $secondary_color_hover;
    color: white;
}

.secondaryBtn:active {
    background-color: $secondary_color_active;
    color: white;
}

.neutralBtn {
    background-color: $neutral_color;
    color: $dark_text;
}

.neutralBtn:hover {
    background-color: $neutral_color_hover;
    color: $dark_text;
}

.neutralBtn:active {
    background-color: $neutral_color_active;
    color: $dark_text;
}

/* HEADER AND NAV */

.mainHeader {
    height: 4em;
    background-color: $primary_color;
    color: $light_text;
}

.sideBar {
    height: calc(100vh - 4em);
    padding: 2em 1em 1em 1em;
    background-color: $neutral_color;
}

@media (max-width: 768px) {
    .sideBar {
        height: auto;
    }
}

.sideBarLink {
    display: block;
    padding: 1em;
    color: $dark_text;
    text-decoration: none;
}

.sideBarLink:hover {
    background-color: $neutral_color_hover;
    color: $dark_text;
    text-decoration: none;
}

.sideBarLinkActive {
    background-color: $neutral_color_active;
}


/* CONTENT AREA */

.contentArea {
    padding: 2em;
}


/* PAGE SPECIFIC STYLES */

/* LOGIN */

.publicSumbitPage {
    height: 100vh;
    background-color: $primary_color;
}

.publicSumbitForm {
    padding: 2em 2em 1em 2em;
    border-radius: 0.25em;
    background-color: $neutral_color;
}

.publicSumbitText {
    color: $light_text;

    a {
        color: $light_text;
    }

    a:hover {
        color: $light_text;
    }
}