{% extends 'purchasing/base.html' %}

{% block title %}
    Coupon
{% endblock %}

{% block content %}
    <section class="page" data-page="coupons">

        {% if messages %}
            {% for message in messages %}
                <div class="alert {{ message.tags }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
        
        {% if coupon %}
        <!--Existing coupon-->

            <h1>{{ coupon.code }}</h1>

            <section class="contentSection">
                <form action="{% url 'coupon' %}" method="post">
                    <fieldset>
                        {% csrf_token %}
                        <input name="id" type="hidden" value="{{ coupon.pk }}">

                        <div class="form-group">
                            <label>Code</label>
                            <input class="form-control" name="code" value="{{ coupon.code }}" maxlength="16" required/>
                        </div><!--form-group-->

                        <div class="form-group">
                            <label>Discount (in cents)</label>
                            <input class="form-control" name="discount" type="number" value="{{ coupon.discount }}" min="0" required/>
                        </div><!--form-group-->

                        <div class="form-group text-right mt-4">
                            <button class="btn secondaryBtn" type="submit">Save</button>
                            <a class="btn neutralBtn" href="{% url 'coupons' %}">Cancel</a>
                        </div><!--form-group-->

                    </fieldset>
                </form>
            </section><!--contentSection-->

        {% else %}
        <!--New coupon-->

            <h1>Add Coupon</h1>

            <section class="contentSection">
                <form action="{% url 'coupon' %}" method="post">
                    <fieldset>
                        {% csrf_token %}

                        <div class="form-group">
                            <label>Code</label>
                            <input class="form-control" name="code" maxlength="16" required/>
                        </div><!--form-group-->

                        <div class="form-group">
                            <label>Discount (in cents)</label>
                            <input class="form-control" name="discount" type="number" min="0" required/>
                        </div><!--form-group-->

                        <div class="form-group text-right mt-4">
                            <button class="btn secondaryBtn" type="submit">Save</button>
                            <a class="btn neutralBtn" href="{% url 'coupons' %}">Cancel</a>
                        </div><!--form-group-->

                    </fieldset>
                </form>
            </section><!--contentSection-->

        {% endif %}

    </section><!--page-->
{% endblock %}