{% extends 'purchasing/base.html' %}

{% block title %}
    Products
{% endblock %}

{% block content %}
    <section class="page" data-page="products">

        <div class="row">
            <div class="col">
                <h1>Products</h1>
            </div><!--col-->
            <div class="col text-right">
                <a class="btn secondaryBtn" href="{% url 'manage_product' %}">New Product</a>
            </div><!--col-->
        </div><!--row-->

        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Code</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        <td>
                            <a href="{% url 'manage_product' product_id=product.pk %}">{{ product.name }}</a>
                        </td>
                        <td>{{ product.code }}</td>
                        <td>{{ product.dollar_cost }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table><!--table-->

    </section><!--page-->
{% endblock %}