{% extends 'purchasing/base.html' %}

{% block title %}
    Purchase History
{% endblock %}

{% block content %}
    <section class="page" data-page="purchaseHistory">

        <h1>Purchase History</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Total</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in transactions %}
                    <tr>
                        <td>{{ transaction.date }}</td>
                        <td>{{ transaction.grand_total_dollar_cost }}</td>
                        <td>{{ transaction.type }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table><!--table-->

    </section>
{% endblock %}