{% extends 'purchasing/base.html' %}

{% block title %}
    Login
{% endblock %}

{% block public %}

    <div id="registerPage" class="container-fluid">
            
        <div class="row justify-content-center align-items-center publicSumbitPage">
            <div class="col-sm-12 col-md-5 col-lg-5 col-xl-4">

                <section class="publicSumbitForm">

                    <div class="text-center mb-4">
                        <h1>Register</h1>
                    </div>

                    <form method="post">
                        <feildset>
                        {% csrf_token %}

                            <div class="form-group">
                                <input class="form-control" name="email" placeholder="Email" type="email" required/>
                            </div><!--form-group-->

                            <div class="form-group">
                                <input class="form-control" name="password" placeholder="Password" type="password" required/>
                            </div><!--form-group-->

                            <div class="form-group">
                                <input class="form-control" name="confirmPassword" placeholder="Confirm Password" type="password" required/>
                            </div><!--form-group-->

                            <div class="form-group">
                                <input class="form-control" name="firstName" placeholder="First Name" required/>
                            </div><!--form-group-->

                            <div class="form-group">
                                <input class="form-control" name="lastName" placeholder="Last Name" required/>
                            </div><!--form-group-->

                            <div class="form-group">
                                <button class="form-control btn secondaryBtn" type="submit">Create Account</button>
                            </div><!--form-group-->

                        </feildset>
                    </form>

                </section><!--loginForm-->

                <div class="text-center mt-4 publicSumbitText">
                    <a href="{% url 'login' %}">Cancel</a>
                </div>

            </div><!--column-->
        </div><!--row-->

        <footer class="fixed-bottom text-center publicSumbitText">
            <p>
                Copyright &copy;
                <script>document.write(new Date().getFullYear())</script>
                st003
            </p><!--copyright-->
        </footer><!--fixed-bottom-->

    </div><!--container-fluid-->

{% endblock %}